<!DOCTYPE html>
<html ng-app='macro-log' ng-controller='mainCtrl'>
  <head>
    <meta charset="utf-8">
    <title>Macro Log</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src='bower_components/underscore/underscore-min.js'></script>
    <link rel="stylesheet" href="styles.css">

    </script>
    <script src="main.js"></script>
  </head>
<body>
  <h1>BMR Calculator</h1>
    <div class="form-group user-info" ng-if=noUser>
     <form name="userForm" class="form-horizontal">
       <div class="category">
        <p>
          Weight
        </p>
        <input type="number" class='txt-field' required placeholder='enter weight' ng-model='user.weight'>
       </div>
       <div class="container">
         <div class="category">
           <p>
            Gender
           </p>
           <label for='male'>
             <input type='radio' class='radio-btn' id='male' required ng-model='user.gender' value='male' />
             Male
           </label>
           <input type="radio" class='radio-btn' required ng-model='user.gender' value='female' />
         </div>

       </div>
     </form>
     <input type='submit' required class='btn btn-default' ng-click='findGender()' value='save' />
    </div>

    <div class="form-control male-body-fat" ng-show='user_male'>
      <form class='body-gauge' ng-submit='showMealsForm()'>
        <h2>What is your body fat percentage?</h2>
        <input type="radio" class='form-control' ng-required='!user.bodyFat' ng-model='user.bodyFat' value='10.14'>10-14%
        <input type="radio" class='form-control' ng-required='!user.bodyFat' ng-model='user.bodyFat' value='14.20'>14-20%
        <input type="radio" class='form-control' ng-required='!user.bodyFat' ng-model='user.bodyFat' value='20.28'>20-28%
        <input type="radio" class='form-control' ng-required='!user.bodyFat' ng-model='user.bodyFat' value='28.30'>28-30%
        <input type="submit" class='btn btn-default' value='submit'>
      </form>
    </div>


    <div class="female-body-fat" ng-show='user_female'>
      <form class='body-gauge' ng-submit='showMealsForm()'>
        <h2>What is your body fat percentage?</h2>
        <input type="radio" class='form-control' ng-required='!user.bodyFat' ng-model='user.bodyFat' value='14.18'>14-18%
        <input type="radio" class='form-control' ng-required='!user.bodyFat' ng-model='user.bodyFat' value='18.28'>18-28%
        <input type="radio" class='form-control' ng-required='!user.bodyFat' ng-model='user.bodyFat' value='28.38'>28-38%
        <input type="radio" class='form-control' ng-required='!user.bodyFat' ng-model='user.bodyFat' value='38.48'>38-48%
        <input type="submit" value='submit'>
      </form>
    </div>


    <div class='meal-info' ng-if='show_meals'>
      <form class='meal-form' ng-submit='addFood(meal)'>
        Meal 1: <input type="number" ng-required='!meal.one' class='form-control' placeholder='calories for breakfast?' ng-model='meal.one'>
        Meal 2: <input type="number" ng-required='!meal.two' class='form-control' placeholder='calories second breakfast?' ng-model='meal.two'>
        Snack: <input type="number" ng-required='!meal.snack1' class='form-control' placeholder='calories for a snack?' ng-model='meal.snack1'>
        Meal 3: <input type="number" ng-required='!meal.three' class='form-control' placeholder='calories for lunch?' ng-model='meal.three'>
        Snack: <input type="number" ng-required='!meal.snack2' class='form-control' placeholder='calories for snack?' ng-model='meal.snack2'>
        Meal 5: <input type="number" ng-required='!meal.five' class='form-control' placeholder='calories for dinner?' ng-model='meal.five'>
        <input type="submit" class='btn btn-default' value='save meals'>
      </form>
    </div>

    <div class="activity-level" ng-if='show_activity_male'>
      <form class='activity-gauge' ng-submit='calculateBMRMale()'>
        <h2>What is your activity level?</h2>
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel' value='lazy'>Lazy
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel'  value='light'>Light
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel'  value='average'>Average
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel'  value='heavy'>Heavy
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel'  value='hard'>Hard
        <input type="submit" value="save activity level">
      </form>
    </div>

    <div class="activity-level" ng-if='show_activity_female'>
      <form class='activity-gauge' ng-submit='calculateBMRFemale()'>
        <h2>What is your activity level?</h2>
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel' value='lazy'>Lazy
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel' value='light'>Light
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel' value='average'>Average
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel' value='heavy'>Heavy
        <input type="radio" ng-required='!user.activityLevel' class='form-control' ng-model='user.activityLevel' value='hard'>Hard
        <input type="submit" value="save activity level">
      </form>
    </div>

  <div class="results-container" ng-if='final'>
    <div class="results">
      <button class='btn btn-default' ng-click='muscleGain()'>Calculate Muscle Gain</button>
      <button class='btn btn-default' ng-click='weightLoss()'>Calculate Fat Loss</button>
    </div>
  </div>

  <div ng-if='results'>
    <div ng-if="!muscleGain()" class="">You need to eat at least {{ totalCalories }} more calories in order to gain 1lb of muscle this week!</div>
    <div ng-if="muscleGain()" class="">You are on track to gain muscle this week! </div>
  </div>
  <div ng-if='results2'>
    <div ng-if='!weightLoss()'> you need to eat at least {{ totalCalories }} less in order to lose 1lb of fat this week </div>
    <div ng-if='weightLoss()'> you are on track to lose 1lb of fat this week! </div>
  </div>
</body>
</html>
